./data/*

./gmo-files/*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

*.pt
*.pth
*.ckpt
*.onnx
*.dylib
*.bin

torch_build/
build/
dist/

.DS_Store

.vscode/

*.log
logs/
tmp/
temp/
.cache/